html, body
{
    margin:0px;
    padding:0px;
    background-image: url('assets/9450257.png');
    background-color:#282828;
}

#top-page
{
    background-color:#282828;
    margin:auto;
    height:175px;
    width: 100%;
    position: absolute;
    opacity: 100%;
    z-index: 1;
    
}
#title
{
    position: relative;
    bottom: 35px;
    left: 30px;
    width:30%;
    font-family: "Lato", sans-serif;
    color:white;
    font-weight: 550;
    font-size: 50px;
    z-index:2;
}

#description
{
    position: relative;
    bottom: 70px;
    left: 30px;
    width:40%;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    color:white;
    font-weight: 300;
    z-index:2;
}

#hamburger-button
{
    position: relative;
    left: 94%;
    bottom: 110%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.4s;
}

#hamburger-button:hover
{
    transform:scale(1.05);
}

#generator-container
{
    display: flex;
    margin: auto;
    position: fixed;
    height: 200px;
    width: 28%;
    bottom:260px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.bottom-divs
{
    color: #f1f1f1;
    background-color:#282828;
    font-size: 20px;
    margin:30px;
    margin-bottom:70px;
    margin-top: 70px;
    padding:20px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    transition: transform 0.4s;
}

.bottom-divs:hover
{
    transform:scale(1.05);
}

.bottom-divs span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
.bottom-divs span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
  
.bottom-divs:hover span {
    padding-right: 25px;
  }


.bottom-divs:hover span:after {
    opacity: 1;
    right: 0;
  }

  #info-container
{
      display: flex;
      margin: auto;
      position: absolute;
      height: 400px;
      width: 32%;
      right:525px;
      bottom:120px;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      background-color:#282828;
      border-radius: 10px;

}


.display-divs
{
    position: relative;
    width:88%;
    height:42%;
    left:0;
    margin:auto;
    background-color:#4a4a4a;
    color:white;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    visibility: hidden;
    text-align: center;
    overflow: scroll; 
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    border-radius: 10px;
}

#show-header
{
    font-weight: bold;
    font-size: 1.5vw;
    color:white;
    text-decoration: none;
    transition: transform 0.4s;
}

#show-header:hover {
    transform:scale(1.05);
}

#show-desc
{
    position: relative;
    bottom: 20px;
    font-size: 12px;
}

#show-heart
{
    padding-left:15px;
    transition: transform 0.3s;
    cursor: pointer;
}

#show-heart:hover {
    transform:scale(1.1);
}

#show-header-container
{
    display:flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    text-align:center;
    justify-content: center;
}

#favorites-container
{
      display: flex;
      margin: auto;
      position: relative;
      height: 400px;
      width: 32%;
      left:410px;
      top:244px;
      flex-grow: 1;
      justify-content: center;
      background-color:#282828;
      border-radius: 10px;
}

#favorites-display-container
{
    width:90%;
    height:90%;
    border-radius: 10px;
    color:white;
    text-align: center;
    margin: auto;
    background-color: #4a4a4a;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#drink-header-container
{
    display:flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#drink-heart
{
    padding-left:15px;
    transition: transform 0.3s;
    cursor: pointer;
}

#drink-heart:hover {
    transform:scale(1.1);
}

#drink-header
{
    font-weight: bold;
    font-size: 20px;
    color:white;
    text-decoration: none;
    transition: transform 0.4s;
}

#drink-header:hover {
    transform:scale(1.05);
}

#drink-instructions
{
    position: relative;
    font-size: 12px;
}

#drink-ingredients
{
    position: relative;
    text-align:left;
    bottom: 10px;
    font-size: 12px;
}

.favorite-list
{
    font-size: 12px;
    text-align:left;
    
}

.favorite-list > li:hover
{
    transform:scale(1.02); 
}

.favorite-list > li
{
    transition: transform 0.4s;
}


.fav-link
{
    color:white;
    text-decoration: none;
}

#show-favorites
{
    font-size:16px;
    text-align:left;
    right:10px;
}

#drink-favorites
{
    font-size:16px;
    text-align:left;

}
